.App {
  text-align: center;
}

/* header styling */

.header {
  background-image: url("./Assets/smallhouse.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  height: 488px;
}

.nav-container {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  background-color: white;
}

.me-2 {
  white-space: nowrap;
  margin-top: 9px;
}

.slogan h2 {
  color: white;
  margin-top: 50px;
  font-size: 50px;
}

.homepage-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.searchbar {
  background-color: rgb(255, 255, 255);
  height: 65px;
  width: 700px;
  border-radius: .5rem;
  cursor: pointer;
  transition: 0.2s ease;
  border-color: rgba(50, 152, 255, 0);
}

.searchbar:hover {
  border-color: rgb(50, 152, 255);
}

input::placeholder {
  color: grey;
  padding-top: 5px;
  padding-bottom: 5px;
}

.search-button {
  background: transparent;
  border: none;
  outline: none;
  margin-left: -40px;
}

.search-button img {
  width: 20px;
  height: 20px;
  object-fit: cover;
}

input[type=text]{
  text-indent:15px;
} 

/* home for you styling */

.homes-for-you-container {
  height: 480px;
}

.homes-card-container {
  max-width: 1200px;
  margin: auto;
}

.homes-card-container h3 {
  margin-right: 1200px;
  padding-top: 40px;
  padding-bottom: 20px;
  white-space: nowrap;
}

.solid {
  border-top: 1px solid rgb(46, 46, 46);
  margin: auto;
}

.house-cards {
  display: flex;
  padding-top: 20px;
  justify-content: center;
  gap: 25px;
  cursor: pointer;
}

.homecard {
  box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: 0.3s ease;
}

.homecard:hover {
  box-shadow: 0 8px 18px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* buy, finance, rent card styling */

.buy-finance-rent-container {
  background-color: rgba(242, 242, 241, 0.821);
  height: 752px;
}

.buy-finance-rent-cards {
  display: flex;
  justify-content: center;
  gap: 25px;
  padding-top: 120px;
}

.indiv-buy-rent-finance {
  transition: 0.3s ease;
  cursor: pointer;
}

.indiv-buy-rent-finance:hover +
.indiv-buy-rent-finance-button:hover {
  background-color: blue;
}

.indiv-buy-rent-finance:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* bottom section styling */

.bottom-tabs-container {
  padding-top: 30px;
  height: 202px;
  max-width: 1300px;
  margin: auto;
}

.bottom-tabs-nav {
  padding-top: 30px;
  padding-bottom: 30px;
}

.solid-bottom {
  border-top: 1px solid rgb(46, 46, 46);
  margin: auto;
}

.misc-link-container {
  height: 150px;
  max-width: 1300px;
  margin: auto;
  margin-top: 20px;
}

.misc-link-flex {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  justify-content: center;
  list-style: none;
}

.solid-bottom-misc {
  border-top: 1px solid rgb(46, 46, 46);
  margin: auto;
  margin-top: 20px;
}

.misc-details-container {
  height: 150px;
}

/* footer styling */

.footer-logo {
  padding-top: 5px;
  padding-bottom: 5px;
}

/* buy/rent styling */

/* buy/rent search nav bar styling */

.listing-search-container {
  display: flex;
  justify-items: flex-start;
  margin-top: -10px;
}

.listing-search-container li {
  list-style: none;
  margin-right: 10px;
}

.map-search-container {
  margin-top: -16px;
}

/* map styling */

.map-container {
  height: 100vh;
  width: 72%;
}

/* about page styling */

.about-container {
  background-color: rgb(230, 230, 223);
  height: 100vh;
  margin-top: -10px;
}

.clone-creation ul li,
.upcoming-features ul li {
  list-style: none;
  font-size: 25px;
}