.App {
  text-align: center;
}

/* header styling */

.header {
  background-image: url("./Assets/smallhouse.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  height: 488px;
}

.nav-container {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  background-color: white;
}

.me-2 {
  white-space: nowrap;
  margin-top: 9px;
}

.slogan h2 {
  color: white;
  margin-top: 50px;
  font-size: 50px;
}

/* home for you styling */

.homes-for-you-container {
  height: 480px;
}

.homes-card-container {
  max-width: 1200px;
  margin: auto;
}

.homes-card-container h3 {
  margin-right: 1200px;
  padding-top: 40px;
  padding-bottom: 20px;
  white-space: nowrap;
}

.solid {
  border-top: 1px solid rgb(46, 46, 46);
  margin: auto;
}

.house-cards {
  display: flex;
  padding-top: 20px;
  justify-content: center;
  gap: 25px;
}

/* buy, finance, rent card styling */

.buy-finance-rent-container {
  background-color: rgba(242, 242, 241, 0.821);
  height: 752px;
}

.buy-finance-rent-cards {
  display: flex;
  justify-content: center;
  gap: 25px;
  padding-top: 120px;
}

/* footer styling */

.footer-logo {
  padding-top: 5px;
  padding-bottom: 5px;
}